<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="gitlab" value="https://git.bluebird.id/api/v4/projects/1739/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <gitlab>
            <add key="Username" value="wahyu.gugus" />
            <add key="ClearTextPassword" value="PtF5LrExactUsySQUEwx" />
        </gitlab>
    </packageSourceCredentials>
</configuration>